.icon {
  width: 1rem;
  height: 1rem;
}

[data-mantine-color-scheme='light'] .dark {
  display: none;
}


[data-mantine-color-scheme='light'] .light {
  display: block;
}

[data-mantine-color-scheme='dark'] .dark {
  display: block;
}


[data-mantine-color-scheme='dark'] .light {
  display: none;
}