@use "styles/colors";
@import "styles/typography";
@import "styles/flex";
@import "styles/size";
@import "styles/borders";
@import "styles/shadows";


$header-height: 2.5rem;
$task-card-height: 8rem;
$task-card-width: 18rem;

.TaskCard {

  background-color: white;

  @include borderRadius(0.5rem);
  @include width($task-card-width);
  @include height($task-card-height);

  @extend .body-text;
  @extend .border-solid-1;
  @extend .flex-column;
  @extend .shadow-c;
}

[data-mantine-color-scheme='dark'] .TaskCard{
  background-color: #464646;
}

.header{
  justify-content: space-between;
  align-items: center;

  @include height($header-height);
  @extend .flex-row;
  @extend .border-separator-top;
  @extend .px-16;

  .left{
    @extend .flex-row;
    @extend .column-gap-8;
    align-items: center;
  }

}

.id{
  color: colors.$g-800;
  @extend .small-text;
}

.body{
  justify-content: space-between;

  @include height(calc($task-card-height - $header-height));
  @extend .p-16;
  @extend .flex-column;
}

.titleDescription{
  @extend .flex-column;
  @extend .row-gap-4;
}

.title{
  @extend .body-text;
}

.description{
  @extend .subtitle;
}

.badges{

  @extend .flex-row;
  @extend .column-gap-8;
}